{% set contactTypes = __SELF__.contactTypes %}

<!-- Modal Contact Add -->
<div class="modal modal-center fade" id="modal-add-contact">
    <div class="modal-dialog modal-lg">
        {{ form_open({ url: 'contact/create', files: true, class:'modal-content' }) }}
        <input type="hidden" name="company_id" value="{{company_id}}">
        <div class="modal-header">
            <h5 class="modal-title">
                Add New
                <span class="font-weight-light">Contact</span>
                <br>

            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        </div>
        <div class="modal-body">

            <div class="row">
                <!-- Left Column -->
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'Contact Type'|_ }}</label>
                        <select name="contacts[0][type]" class="form-control rounded-0">
                            <option value="0">{{ 'Please Select'|_ }}</option>
                            {% for contactType in contactTypes %}
                            <option value="{{ contactType.id }}">{{ contactType.name }}</option>
                            {% endfor %}
                        </select>

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'First Name'|_ }}</label>
                        {{form_text('contacts[0][firstname]', data.firstname,{'class':'form-control form-control-md rounded-0'}) }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'Last Name'|_ }}</label>
                        {{form_text('contacts[0][lastname]', data.lastname,{'class':'form-control form-control-md rounded-0'}) }}

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'Position'|_ }}</label>
                        {{form_text('contacts[0][position]', data.position,{'class':'form-control form-control-md rounded-0'}) }}

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'E-Mail'|_ }}</label>
                        {{form_text('contacts[0][email]', data.email,{'class':'form-control form-control-md rounded-0'}) }}

                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10">{{ 'Phone'|_ }}</label>
                        {{form_text('contacts[0][phone]', data.phone,{'class':'form-control form-control-md rounded-0'}) }}

                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        {{form_close()}}
    </div>
</div>