<fieldset>
    <lablel>

        <h4 class=" g-font-weight-700 g-mb-20">{{ 'Marketing Material'|_ }}</h4>

    </lablel>

    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-8 g-mb-20">
            {{ 'Marketing material heading'|_ }}
        </div>
    </div>

    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please submit a "slogan" for the website'|_ }}
        </div>
        <div class="col-md-8">

            {{form_textarea('marketing[slogan]',marketing.slogan,{'class':'form-control form-control-md rounded-0','rows':'2'})}}
        </div>
    </div>
    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please submit an "about the gift card" text for the website'|_ }}
        </div>
        <div class="col-md-8">
            {{form_textarea('marketing[about]',marketing.about,{'class':'form-control form-control-md rounded-0','rows':'2'})}}

        </div>
    </div>
    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please submit "practical info" text for the website'|_ }}
        </div>
        <div class="col-md-8">
            {{form_textarea('marketing[practical_info]',marketing.practical_info,{'class':'form-control form-control-md rounded-0','rows':'3'})}}

        </div>
    </div>
    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please submit "gift card" text for the customer'|_ }}
        </div>
        <div class="col-md-8">
            {{form_textarea('marketing[customer_text]',marketing.customer_text,{'class':'form-control form-control-md rounded-0','rows':'3'})}}
        </div>
    </div>
    <div class="row g-mb-20">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please submit "how to use your gift card" text for the customer'|_ }}
        </div>
        <div class="col-md-8">

            {{form_textarea('marketing[customer_info]',marketing.customer_info,{'class':'form-control form-control-md rounded-0','rows':'3'})}}
        </div>
    </div>

    <div class="row g-mb-20 align-items-center">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please upload your company logo here (min. 600dpi quality and .ai or .eps format)'|_ }}
        </div>
        <div class="col-md-4">
            {{form_file('files[companylogo]')}}
        </div>
        <div class="col-md-4">
            {% if marketing.companylogo != false %}
            <p>{{marketing.companylogo_org_name}} <span class="fa fa-check text-success">&nbsp;</span></p>
            {% endif %}
        </div>
    </div>

    <div class="row g-mb-20 align-items-center">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please upload your gift card image'|_ }}
        </div>
        <div class="col-md-4">
            {{form_file('files[cardimage]')}}
        </div>
        <div class="col-md-4">
            {% if marketing.cardimage != false %}
            <p>{{marketing.cardimage_org_name}} <span class="fa fa-check text-success">&nbsp;</span></p>
            {% endif %}
        </div>
    </div>

    <div class="row g-mb-20 align-items-center h-100">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Please upload your mood pictures here (min. 2000x1350px and .jpg or .png format)'|_ }}
        </div>
        <div class="col-md-4">

            {{form_file('files[moodpicture]')}}
        </div>
        <div class="col-md-4  mx-auto">
            {% if marketing.moodpicture != false %}
            <p>{{marketing.moodpicture_org_name}} <span class="fa fa-check text-success">&nbsp;</span></p>
            {% endif %}
        </div>


    </div>

    <div class="row rm-if-confirmed">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'allow_adword_campaign'|_ }}
        </div>

        <div class="col-md-8">
            <div class="form-group g-mb-20">

                <label class="form-check-inline u-check g-pl-25">
                    {{form_hidden('marketing[allow_adword_campaign]', '0') }}
                    {{form_checkbox('marketing[allow_adword_campaign]', '1',marketing.allow_adword_campaign, {'class':'text-success g-hidden-xs-up g-pos-abs g-top-0 g-left-0'}) }}
                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>


                </label>
            </div>

        </div>
    </div>


    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'Do you feel that something is missing? Please enter here'|_ }}
        </div>
        <div class="col-md-8">
            <div class="form-group g-mb-20">

                {{form_textarea('marketing[remark]',marketing.remark,{'class':'form-control form-control-md rounded-0','rows':'1'})}}
            </div>

        </div>
    </div>


    <div class="row rm-if-confirmed">
        <!-- Left Column -->
        <div class="col-md-4">
            {{ 'capt_complete_hint'|_ }}
        </div>

        <div class="col-md-8">
            <div class="form-group g-mb-20">

                <label class="form-check-inline u-check g-pl-25">
                    {{form_hidden('company[confirmed]', '0') }}
                    {{form_checkbox('company[confirmed]', '1',company.confirmed, {'class':'text-success g-hidden-xs-up g-pos-abs g-top-0 g-left-0'}) }}
                    <div class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>
                    &nbsp;{{ 'capt_complete'|_ }}

                </label>
            </div>

        </div>
    </div>


</fieldset>